<div class="accordion">
  <div class="trigger">
    <input type="checkbox" id="checkbox-1" name="checkbox-1" />
    <label for="checkbox-1" class="checkbox">
      Size 8 <i></i>
    </label>
    <div class="content">
      Size 8
    </div>
  </div>

  <div class="trigger">
    <input type="checkbox" id="checkbox-2" name="checkbox-2" />
    <label for="checkbox-2" class="checkbox">
      Size 16 <i></i>
    </label>
    <div class="content">
      Size 16
    </div>
  </div>

  <div class="trigger">
    <input type="checkbox" id="checkbox-3" name="checkbox-3" />
    <label for="checkbox-3" class="checkbox">
      Size 24 <i></i>
    </label>
    <div class="content">
      Size 24
    </div>
  </div>
</div>